$colorscale-0: #FF0000;
$colorscale-1: #FF1100;
$colorscale-2: #FF2300;
$colorscale-3: #FF3400;
$colorscale-4: #FF4600;
$colorscale-5: #FF5700;
$colorscale-6: #FF6900;
$colorscale-7: #FF7B00;
$colorscale-8: #FF8C00;
$colorscale-9: #FF9E00;
$colorscale-10: #FFAF00;
$colorscale-11: #FFC100;
$colorscale-12: #FFD300;
$colorscale-13: #FFE400;
$colorscale-14: #FFF600;
$colorscale-15: #F7FF00;
$colorscale-16: #E5FF00;
$colorscale-17: #D4FF00;
$colorscale-18: #C2FF00;
$colorscale-19: #B0FF00;
$colorscale-20: #9FFF00;
$colorscale-21: #8DFF00;
$colorscale-22: #7CFF00;
$colorscale-23: #6AFF00;
$colorscale-24: #58FF00;
$colorscale-25: #47FF00;
$colorscale-26: #35FF00;
$colorscale-27: #24FF00;
$colorscale-28: #12FF00;
$colorscale-29: #00FF00;
